.square {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: #f5870a;
    animation: move 2s linear;
    position: relative;
}

@keyframes move {
    0% {
        top: 0px;
        left: 0px;
    }
    100% {
        top: 0px;
        left: 100%;
    }
}