@media screen and (max-width: 1024px) {
    nav ul li{
        margin: 21px 0 0 20px;
    }

    header {
        height: 40vw;
        background-position: top;
        background-size:contain;
    }

    header .text{
        padding: 60px 0 0 120px;
        font-size: 2.5rem;
    }

    header .text .small{
        font-size: 2.5rem;
    }

    section {
        width: 100vw;
    }
}

@media screen and (max-width: 768px) {
    nav ul {
        display: none;
    }

    #open-nav {
        cursor: pointer;
        opacity: 1;
    }

    header {
        height: 50vw;
        justify-content: center;
    }

    header .text{
        padding: 65px 0 0 0;
        font-size: 2.3rem;
    }

    header .text .small{
        font-size: 2.5rem;
        padding: 5px 0 0 50px;
    }

    #backtotop {
        width: 55px;
        height: 55px;
    }

    footer {
        flex-direction:column;
        padding: 10px 0;
    }
}

@media (max-width: 480px) {
    header {
        height: 55vw;
        justify-content: center;
    }

    header .text{
        font-size: 2rem;
        padding: 65px 0 0 0;
    }

    header .text .small{
        font-size: 2rem;
    }
}