* {
    margin: 0 ;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 14px;
    font-family: Tahoma; /* Vēl jāatrod īstais fonts */
}

a {
    color: #9b3b1d;
    text-decoration: none;
}

a:hover {
    color: #72260e;
    text-decoration: underline;
}

nav {
    width: 100%;
    height: 70px;
    background-color: #eea23f;
    position: fixed;
}

nav .logo {
    background: url('../images/kubiiz.png');
    width: 56px;
    height: 26px;
    float: left;
    margin: 11px 0 0 30px;
}

nav ul {
    margin: -11px 0 0 400px;
}

nav ul li{
    color: #FFF;
    font-size: 20px;
    float: left;
    list-style-type: none;
    margin: 21px 0 0 45px;
}

nav ul li a, 
nav ul li a:hover{
    color: #FFF;
}

header {
    background-color: #a1a1a1;
    width: 100%;
    height: 500px;
}

header .text{
    font-size: 40px;
    color: #FFF;
    padding: 200px 0 0 230px;
    text-transform: uppercase;
}

header .text .small{
    font-size: 25px;
    color: #FFF;
    padding: 10px 0 0 100px;
    text-transform: capitalize;
}

section {
    padding: 20px;
    background-color: #f8fadd;
    width: 80%;
    margin: 0 auto;
}

section:first-of-type {
    padding-top: 80px;
}

section h1 {
    font-size: 25px;
    text-align: center;
    color: #7c7c7c;
    text-transform: uppercase;
    text-decoration: underline;
    text-underline-offset: 5px;
    text-decoration-color: #eea23f;
}

section .box {
    padding: 30px 15px;
    font-size: 16px;
    line-height: 2;
}

#knowledge .box-know {
    float: left;
    padding-right: 150px;
}

#knowledge .box-know h2 {
    font-size: 25px;
    font-weight: 400;
}

#knowledge .box-know div {
    float: left;
    border: 2px solid #ccc;
    padding: 15px 30px;
    margin-right: 10px;
    border-radius: 6px;
    cursor: pointer;
}

#knowledge .box-know>div:hover {
    background-color: #f4f7cf;
}

#myworks .works {
    width: 300px;
    float: left;
    margin-right: 15px;
}

#myworks img {
    width: 300px;
    height: 300px;
    border: 1px solid #eea23f;
    border-radius: 6px;
    float: left;
}

#myworks span {
    font-style: italic;
}

footer {
    width: 100%;
    height: 50px;
    border-top: 3px solid #eea23f;
}

footer .box{
    position: relative;
    width: 500px;
    margin: 0 auto;
    font-size: 15px;
    margin-top: 13px;
}

footer .box span{
    color: #eea23f;
}

#backtotop {
    background-color: #eea23f;
    width: 70px;
    height: 70px;
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 0 15px 15px 0;
    border-radius: 6px;
    cursor: pointer;
    opacity: 0.3;
    color:#FFF;
    text-align: center;
}

#backtotop:hover {
    background-color: #da8d29;
    opacity: 1;
}

.clear {
    clear: both;
}