@import url('https://fonts.googleapis.com/css?family=Allura&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

* {
    margin: 0 ;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    position: relative;
    overflow-x: hidden;
}

html {
    font-size: 14px;
    scroll-behavior: smooth;
}

a, 
span {
    color: #9b3b1d;
    text-decoration: none;
    transition: 0.3s;
}

a:hover {
    color: #531908;
    transition: 0.3s;
}

aside#nav {
    width: 80vw;
    height: 100vh;
    position: fixed;
    z-index: 1;
    top: 65px;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    box-shadow: 10px 0 10px rgba(0, 0, 0, 0.7);
    padding-top: 65px;
    display: none;
}
  
aside#nav ul {
    position: absolute;
    top: 40px;
    padding-left: 40px;
    font-size: 1.4rem;
    list-style: none;
}

aside#nav ul li {
    padding: 10px 0;
}

aside#nav .closebtn {
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 2.5rem;
    color: #fff;
    cursor: pointer;
}

nav {
    width: 100vw;
    height: 65px;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.7);
}

nav .logo {
    margin: 2px 0 0 32px;
    display: flex;
    align-items: center;
    justify-content:center;
}

nav .logo:hover {
    animation: pulse 1s infinite;
}

nav ul {
    margin: -17px 0 0 0;
}

nav ul li{
    color: #FFF;
    font-size: 1.3rem;
    float: left;
    list-style-type: none;
    margin: 21px 0 0 45px;
}

nav ul li a, 
nav ul li a:hover,
aside a,
aside a:hover{
    color: #FFF;
    transition: 0.3s;
}

nav ul li a:hover,
aside a:hover,
nav ul li .current,
aside .current{
    color: #f86161;
    transition: 0.3s;
}

#open-nav {
    color: #FFF;
    font-size: 1.8rem;
    margin: 2px 32px 0 0;
    cursor: context-menu;
    opacity: 0;
}

header {
    background: url('../images/bg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-color: #a1a1a1;
    width: 100vw;
    height: 35vw;
    display: flex;
    align-items: center;
    border-bottom: 3px solid #eea23f;
}

header .text{
    font-size: 3.2rem;
    color: #FFF;
    padding: 40px 0 0 230px;
    text-transform: uppercase;
    text-shadow: 5px 5px 10px rgba(0, 0, 0, 1);
}

header .text .small{
    font-family: "Allura", sans-serif;
    font-size: 3rem;
    color: #FFF;
    padding: 10px 0 0 100px;
    text-transform: capitalize;
}

section {
    padding: 20px 0;
    width: 80vw;
    margin: 0 auto;
    background-color: #fff2e1;
}

section h1 {
    font-size: 1.8rem;
    text-align: center;
    color: #525252;
    text-transform: uppercase;
    padding-top: 50px;
    text-decoration: underline;
    text-underline-offset: 5px;
    text-decoration-color: #eea23f;
    text-decoration-thickness: 2px;
}

section h1 i {
    color: #eea23f;
    margin-right: 8px;
}

section .box {
    padding: 30px 0;
    margin-right: 35px;
    font-size: 1.3rem;
    line-height: 2;
}

#aboutme .box {
    text-align: justify;  
    text-justify: inter-word;
    text-indent: 50px;
}

#knowledge h2 {
    font-size: 1.5rem;
    font-weight: 400;
    padding: 10px 0;
}

#knowledge .box-know{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    gap: 15px;
}

#knowledge .box-know div, 
#myworks .box div{
    padding: 15px;
    margin-right: 10px;
    border-radius: 6px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    transition: 0.3s;
}

#knowledge .box-know>div:hover {
    border: none;
    transform: scale(1.2);
}

#knowledge .box-know img {
    width: 60%;
}

#knowledge .box-know span,
#myworks span {
    font-size: 1.3rem;
    
}

#myworks .box {
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
    gap: 15px;
    margin-right: 18px;
}

#myworks .blur {
    display: flex;
    align-items: center;
    justify-content:center;
}

#myworks .blur i {
    display: none;
    position: absolute;
    color: rgb(0, 0, 0, 0.5);
}

#myworks img {
    width: 100%;
    max-height: 470px;
    border: 1px solid #eea23f;
    border-radius: 6px;
    transition: 0.3s;
}

#myworks img:hover {
    filter: blur(3px);
}

#contacts .box {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
}

#contacts .box .contact {
    margin-left: 30px;
}

footer {
    width: 100vw;
    border-top: 3px solid #eea23f;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    padding: 15px 0;
}

footer p{
    font-size: 15px;
}

#backtotop {
    background-color: rgba(0, 0, 0, 0.6);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.7);
    width: 60px;
    height: 60px;
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 0 15px 15px 0;
    border-radius: 6px;
    cursor: pointer;
    opacity: 0.3;
    color:#FFF;
    text-align: center;
    transition: 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
}

#backtotop:hover {
    opacity: 1;
    transition: 0.3s;
    color: #f86161;
}

#backtotop i {
    animation: pulse 1s infinite;
}

@keyframes pulse {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.15);
    }
    100% {
      transform: scale(1);
    }
  }

.clear {
    clear: both;
}